footer
    .container
        .left
            .footerContent
                .logo
                    h1 PHOTOSNAP
                .social
                    ion-icon(name='logo-facebook')
                    ion-icon(name='logo-youtube')
                    ion-icon(name='logo-twitter')
                    ion-icon(name='logo-pinterest')
                    ion-icon(name='logo-instagram')

            .footerLinks
                a(href="index.html") HOME
                a(href="stories.html") STORIES
                a(href="features.html") FEATURES 
                a(href="pricing.html") PRICING
        .right
            .top
                a(href="#") Get an invite 
            .bottom
                p Copyright 2021. All Rights Reserved