header
    .container
        .logo
            h3 
                a(href="index.html") PHOTOSNAP
        nav
            a(href="stories.html") STORIES
            a(href="features.html") FEATURES
            a(href="pricing.html") PRICING 
        .cta
            a(href="#").ctaBtn  GET AN INVITE
#mobileNav
    .container
        .logo
            h3 PHOTOSNAP
        .hamburger
            .line 
            .line
            nav.mobileNav
                a(href="stories.html") STORIES
                a(href="features.html") FEATURES
                a(href="pricing.html") PRICING 
                a(href="#").ctaBtn GET AN INVITE