section#banner
    .container
        .banner
            .content.black
                .contentContainer
                    h1 Features
                    p Photosnap is a platform for photographers and visual storytellers. We make it easy to share photos, tell stories and connect with others.
                    a(href="#").cBlack Get an invite
                .image
                    img(src="assets/img/camera.jpg", alt="")
section#features
    .container
        .card 
            .icon
                img(src="assets/img/responsive.png", alt="")
            .content
                h3 100% Responsive
                p No matter which the device you're on, our site is fully responsive and stories look beautiful on any screen.
        .card 
            .icon
                img(src="assets/img/infinite.png", alt="")
            .content
                h3 No Photo Upload Limit
                p Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go.
        .card 
            .icon
                img(src="assets/img/embedded.png", alt="")
            .content
                h3 Available to Embed
                p Embed Tweets, Facebook posts, instagram media, Vimeo or YouTube videos, Google Maps and more.
    .container
        .card 
            .icon
                img(src="assets/img/responsive.png", alt="")
            .content
                h3 100% Responsive
                p No matter which the device you're on, our site is fully responsive and stories look beautiful on any screen.
        .card 
            .icon
                img(src="assets/img/infinite.png", alt="")
            .content
                h3 No Photo Upload Limit
                p Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go.
        .card 
            .icon
                img(src="assets/img/embedded.png", alt="")
            .content
                h3 Available to Embed
                p Embed Tweets, Facebook posts, instagram media, Vimeo or YouTube videos, Google Maps and more.
section#invite
    .container
        .image
            img(src="assets/img/desert.jpg", alt="")
        .overlay
        .content
            h1 We're in beta. <br> get your invite today!
            a(href="#") Get an invite
