section#latest 
    .container
        .content
            .latestImage
                img(src="assets/img/moon.jpg", alt="")
                .overlay
            .latestInfo
                p.featured Last Month's Featured Story
                h1 HAZY FULL MOON OF APPALACHIA 
                p March 2nd 2020 by John Appleseed
                p The dissected plateau area, while not actually made up of geological mountains, is popularly called mountains, especially in eastern Kentucky and West Virginia, and while the ridges are not high, the terrain is extremely rugged.
                a(href="#")  Read The Story
section#stories 
    .container
        .story 
            .content
                .image
                    img(src="assets/img/mountain.jpg", alt="")
                    .overlay
                .info
                    p April 16th 2020
                    h2 The Mountains
                    p by John Appleseed
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/cityscape.jpg", alt="")
                    .overlay
                .info
                    p April 14th 2020
                    h2 Sunset Cityscape
                    p by Benjamin Cruz
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/voyage.jpg", alt="")
                    .overlay
                .info
                    p April 11th 2020
                    h2 15 Days Voyage
                    p by Alexei Borodin
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/architectural.jpg", alt="")
                    .overlay
                .info
                    p April 9th 2020
                    h2 Architectural
                    p by Samantha Brooke
                    .divider
                    a(href="#") Read Story


        .story 
            .content
                .image
                    img(src="assets/img/mountainriver.jpg", alt="")
                    .overlay
                .info
                    p April 7th 2020
                    h2 World Tour
                    p by Timothy Wagner
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/sunset.jpg", alt="")
                    .overlay
                .info
                    p April 3rd 2020
                    h2 Unforeseen Corners
                    p by Benjamin Cruz
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/lion.jpg", alt="")
                    .overlay
                .info
                    p March 29th 2020
                    h2 King on Africa
                    p by Tim Hilenburg
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/nowhere.jpg", alt="")
                    .overlay
                .info
                    p Marck 21st 2020
                    h2 The Trip to Nowhere
                    p by Felicia Rourke
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/rage.jpg", alt="")
                    .overlay
                .info
                    p March 19th 2020
                    h2 Rage of The Sea
                    p by Mohammed Abdul
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/running.jpg", alt="")
                    .overlay
                .info
                    p March 16th 2020
                    h2 Running Free
                    p by Michelle
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/waves.jpg", alt="")
                    .overlay
                .info
                    p March 11th 2020
                    h2 Behind the Waves
                    p by Lamarr Wilson
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/calmwaters.jpg", alt="")
                    .overlay
                .info
                    p March 9th 2020
                    h2 Calm Waters
                    p by Samantha Brooke
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/galaxy.jpg", alt="")
                    .overlay
                .info
                    p March 5th 2020
                    h2 The Milky Way
                    p by Benjamin Cruz
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/darkforest.jpg", alt="")
                    .overlay
                .info
                    p March 4th 2020
                    h2 Night at The Dark Forest
                    p by Mohammed Abdul
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/flowers.jpg", alt="")
                    .overlay
                .info
                    p March 1st 2020
                    h2 Somwarpet's beauty
                    p by Michelle
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/dreams.jpg", alt="")
                    .overlay
                .info
                    p February 25th 2020
                    h2 Land of Dreams
                    p by William Malcoim
                    .divider
                    a(href="#") Read Story
        