section#banner
    .container
        .banner
            .content.black
                .contentContainer
                    h1 Pricing
                    p   Photosnap is a platform for photographers and visual storytellers. We make it easy to share photos, tell stories and connect with others.
                    a(href="#").cBlack Get an invite
                .image
                    img(src="assets/img/camera.jpg", alt="")
section#pricing
    .plan
        p.active Monthly
        label(for="plan").switch
            input(type="checkbox" id="plan")
            span.slider
        p Yearly
        

    .container
        .pricingCard
            h2 Basic
            p Includes basic usage of our platform. Recommended for new and aspiring photographers.
            h1 $19.00
            span per month
            a(href="#") Pick plan
        .pricingCard.pro
            h2 Pro
            p More advanced features available. Recommended for photography veterans and profissionals.
            h1 $39.00
            span per month
            a(href="#") Pick plan
        .pricingCard
            h2 Business
            p Additional features available such as more detailed metrics. Recommended for business owners.
            h1 $99.00
            span per month
            a(href="#") Pick plan