section#stories 
    .container
        .story 
            .content
                .image
                    img(src="assets/img/mountain.jpg", alt="")
                    .overlay
                .info
                    h2 The Mountains
                    p by John Appleseed
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/cityscape.jpg", alt="")
                    .overlay
                .info
                    h2 Sunset Cityscape
                    p by Benjamin Cruz
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/voyage.jpg", alt="")
                    .overlay
                .info
                    h2 15 Days Voyage
                    p by Alexei Borodin
                    .divider
                    a(href="#") Read Story
        .story 
            .content
                .image
                    img(src="assets/img/architectural.jpg", alt="")
                    .overlay
                .info
                    h2 Architectural
                    p by Samantha Brooke
                    .divider
                    a(href="#") Read Story
        